# dependencies
node_modules

# production
build
.netlify

# testing
coverage

# misc
.vscode/settings.json
shopwild-frontend/.DS_Store
.env
shopwild-frontend/.env
.DS_Store

# test results
shopwild-frontend/report-integration-test.json
shopwild-frontend/report-unit-test.json
