.form {
  width: 35%;
  margin: auto;
}

.form-button {
  width: 80%;
}

.password {
  position: relative;
}

.password-input {
  padding-right: 4rem;
}

.show-password {
  cursor: pointer;
  position: absolute;
  top: 0.9rem;
  right: 4rem;
}

.input-error {
  color: red;
  margin-top: 0;
  font-size: 0.9rem;
}

@media only screen and (max-width: 1300px) {
  .show-password {
    right: 3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .show-password {
    right: 2.5rem;
  }
}

@media only screen and (max-width: 850px) {
  .form {
    width: 60%;
  }

  .show-password {
    right: 3.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .form {
    width: 70%;
  }

  .show-password {
    right: 3.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .form {
    width: 100%;
  }

  .show-password {
    right: 3.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .show-password {
    right: 2.75rem;
  }
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}
