.card {
  position: relative;
  box-shadow: none;
}

.card-image {
  position: static;
}

@media only screen and (max-width: 450px) {
  .card-row {
    justify-content: space-between;
  }
  .vertical {
    max-width: 11rem;
  }

  .card-image img {
    width: 11rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 477px) {
  .card-row {
    justify-content: space-between;
  }
  .vertical {
    max-width: 12rem;
  }

  .card-image img {
    width: 12rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 370px) {
  .card-row {
    justify-content: space-between;
  }
  .vertical {
    max-width: 10rem;
  }

  .card-image img {
    width: 160px;
  }
}
