.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  height: 60vh;
}

.loading-text {
  color: #5a67d8;
}

.loader {
  border: 0.4rem solid white;
  border-top: 0.4rem solid #5a67d8;
  border-right: 0.4rem solid #5a67d8;
  border-bottom: 0.4rem solid #5a67d8;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
